/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


.primary {
  color: #f00;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}


// /* CSS */
// .primary {
//   background-color: #13aa52;
//   border: 1px solid #13aa52;
//   border-radius: 4px;
//   box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
//   box-sizing: border-box;
//   color: #fff;
//   cursor: pointer;
//   font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   outline: none;
//   outline: 0;
//   padding: 10px 25px;
//   text-align: center;
//   transform: translateY(0);
//   transition: transform 150ms, box-shadow 150ms;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
//   text-decoration: none;
// }

// .primary:hover {
//   box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
//   transform: translateY(-2px);
// }

// @media (min-width: 768px) {
//   .primary{
//     padding: 10px 30px;
//   }
// }



/* CSS */
.primary {
  background-color: #13aa52;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.primary:hover,
.primary:focus {
  background-color: #7be9a9;
}

.primary:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.primary:active {
  background-color: #0064bd;
  box-shadow: none;
}
